main {
  display: grid;
  grid-template-columns: 100%;
  margin: auto 15px;
}
.form_div {
  order: 2;
}
.description {
  display: flex;
  flex-flow: row wrap;
}
.description span {
  text-decoration: line-through var(--main);
}
.description h1 {
  width: 100%;
  font-size: 38px;
  line-height: 38px;
  color: var(--text);
}
.description h2 {
  width: 100%;
  font-size: 20px;
  line-height: 22px;
  margin-top: 0;
  color: #56575b;
  font-weight: 500;
}
.form {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 20px;
}

.result{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  background: none;
  font-family: inherit;
  color: var(--greyDark);
  margin-top: 20px;
  margin-bottom: 20px;
}
.result p {
  padding-left: 10px;
  margin: 0;
}
.result button {
  color: var(--greyDark);
  background: none;
  border: unset;
  padding-top: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}
.result button:hover{
  color: var(--main);
}
.hero {
  display: flex;
  justify-content: center;
}
.hero img {
  width: 60%;
}

@media (min-width: 900px) {
  main {
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    max-width: 1170px;
  }
  .form_div {
    order: unset;
  }
  .description h1 {
    font-size: 44px;
    line-height: 1.2;
  }
  .description h2 {
    font-size: 20px;
    line-height: 22px;
    padding-right: 15px;
  }
  .hero{
    justify-content: end;
  }
  .hero img {
    width: 80%;
  }
  .result p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
