.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header p {
  font-size: 1.8em;
  color: var(--main);
  font-weight: 800;
  margin: 10px;
}
.btn {
  font-size: 15px;
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  transition: 0.3s ease;
  background: var(--main);
  border: unset;
}
.btn__primary {
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light),
    inset -0.2rem -0.2rem 1rem var(--primary-dark),
    0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--greyLight-1);
}
.btn__primary:hover {
  color: var(--white);
}
.btn__primary:active {
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark),
    inset -0.2rem -0.2rem 1rem var(--primary-light);
}

@media (min-width: 900px) {
  .header {
    max-width: 1170px;
  }
}
