.auth {
  display: grid;
  grid-template-rows: auto;
  color: var(--text);
}

.auth h1 {
  text-align: center;
  color: var(--text);
  font-size: 24px;
}

.auth form{
  display: flex;
  flex-flow: column nowrap;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: var(--text);
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 14px;
}

.control input {
  font-size: 16px;
  border-radius: 5px;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  background: none;
  color: var(--greyDark);
  width: 100%;
}
.control input::-moz-placeholder {
  color: var(--greyLight-3);
}
.control input:-ms-input-placeholder {
  color: var(--greyLight-3);
}
.control input::placeholder {
  color: var(--greyLight-3);
}
.control input:focus {
  outline: none;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  color: #fff;
  background: var(--main);
  border: unset;
  padding: 0.3rem 1.5rem;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  transition: 0.3s ease;
}
.btn__primary{
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light), inset -0.2rem -0.2rem 1rem var(--primary-dark), 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--greyLight-1);
}
.btn__primary:hover {
  color: var(--white);
}
.btn__primary:active {
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark), inset -0.2rem -0.2rem 1rem var(--primary-light);
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: var(--main);
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: var(--text);
}

@media (min-width: 900px){
  .control label {
    font-size: 18px;
  }
  .control input {
    font-size: 20px;
  }
}